body,html {
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0
}

.loading {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top right,#074177,#022440);
    background: -webkit-linear-gradient(top right, #074177, #022440);
    background: linear-gradient(top right,#074177,#022440)
}

.loading img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px
}

.loading p {
    width: 100%;
    position: absolute;
    top: 44%;
    left: 0;
    color: #fff;
    font-family: '微软雅黑';
    font-style: 13px;
    text-align: center
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

@-webkit-keyframes pageonerotate {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes pageonerotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes pageonestate1delay {
    0% {
        height: 0
    }

    50% {
        height: 28%;
        -webkit-transition-delay: 1s;
        transition-delay: 1s
    }

    100% {
        height: 100%
    }
}

@keyframes pageonestate1delay {
    0% {
        height: 0
    }

    50% {
        height: 28%;
        -webkit-transition-delay: 1s;
        transition-delay: 1s
    }

    100% {
        height: 100%
    }
}

@-webkit-keyframes pageoneshowImg {
    0% {
        opacity: 0
    }

    50% {
        opacity: .4;
        -webkit-transition-delay: 1s;
        transition-delay: 1s
    }

    100% {
        opacity: 1
    }
}

@keyframes pageoneshowImg {
    0% {
        opacity: 0
    }

    50% {
        opacity: .4;
        -webkit-transition-delay: 1s;
        transition-delay: 1s
    }

    100% {
        opacity: 1
    }
}

.bg-repeat-index {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .2;
    background-image: url(../img/indexrepeat.png);
    z-index: -99
}

.bg-repeat-others {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .15;
    background-image: url(../img/otherepeat.png);
    z-index: 0
}

.containerIndex {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(top right,#074177,#022440);
    background: -webkit-linear-gradient(top right, #074177, #022440);
    background: linear-gradient(top right,#074177,#022440);
    background-size: 100% 100%;
    z-index: 999;
    display: none
}

.containerIndex .logo {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 17%;
    left: 0;
    z-index: 4
}

.containerIndex .logo img {
    height: 100%;
    opacity: 0
}

.containerIndex .font {
    width: 100%;
    height: 8%;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 5
}

.containerIndex .font img {
    height: 100%;
    opacity: 0
}

.containerIndex .state1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden
}

.containerIndex .state1 img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0
}

.containerIndex .state2 {
    width: 100%;
    height: 43%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 2
}

.containerIndex .state2 img {
    height: 0;
    opacity: 0
}

.containerIndex .state3 {
    width: 100%;
    height: 45%;
    position: absolute;
    top: 8%;
    left: 0;
    z-index: 3
}

.containerIndex .state3 img {
    height: 100%;
    opacity: 0
}

.containerIndex.active .state1 {
    -webkit-animation: pageonestate1delay 3s ease;
    animation: pageonestate1delay 3s ease
}

.containerIndex.active .state1 img {
    -webkit-animation: pageoneshowImg 3s ease;
    animation: pageoneshowImg 3s ease;
    opacity: 1
}

.containerIndex.active .state2 img {
    opacity: 1;
    height: 100%;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-animation: pageonerotate 10s infinite linear;
    animation: pageonerotate 10s infinite linear
}

.containerIndex.active .logo img {
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transition-delay: 3.7s;
    transition-delay: 3.7s
}

.containerIndex.active .font img {
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transition-delay: 5s;
    transition-delay: 5s
}

.containerIndex.active .state3 img {
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-transition-delay: 6s;
    transition-delay: 6s
}

.cloneBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top right,#0683e3,#095499);
    background: -webkit-linear-gradient(top right, #0683e3, #095499);
    background: linear-gradient(top right,#0683e3,#095499);
    display: none
}

.cloneBg .font {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 6%;
    left: 0;
    z-index: 9
}

.cloneBg .font img {
    height: 100%
}

button {
    margin: 0;
    padding: 0;
    background: 0 0;
    border: none
}

.page1 {
    position: relative;
    background: -webkit-linear-gradient(top right,#0683e3,#095499);
    background: -webkit-linear-gradient(top right, #0683e3, #095499);
    background: linear-gradient(top right,#0683e3,#095499)
}

.page1 .logo {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 17%;
    left: 0;
    z-index: 4
}

.page1 .logo img {
    height: 100%
}

.page1 .font {
    width: 100%;
    height: 8%;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 5
}

.page1 .font img {
    height: 100%
}

.page1 .huo {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 9;
    opacity: 0
}

.page1 .huo img {
    height: 100%
}

.page1 .star {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 8;
    opacity: 0
}

.page1 .star img {
    height: 100%
}

.page1 .fontlist1 {
    width: 100%;
    position: absolute;
    bottom: 43%;
    left: 0;
    z-index: 9;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    opacity: 0
}

.page1 .fontlist2 {
    width: 100%;
    position: absolute;
    bottom: 37%;
    left: 0;
    z-index: 9;
    color: #fff;
    font-size: 30px;
    font-family: '微软雅黑';
    opacity: 0
}

.page2 {
    position: relative;
    background: -webkit-linear-gradient(top right,#0683e3,#095499);
    background: -webkit-linear-gradient(top right, #0683e3, #095499);
    background: linear-gradient(top right,#0683e3,#095499)
}

.page2 .title {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 6%;
    left: 0;
    z-index: 9
}

.page2 .title img {
    height: 100%
}

.page2 .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9
}

.page2 .footer p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3vh;
    font-family: '微软雅黑'
}

.page2 .footer p:nth-child(3) {
    font-size: 4vh;
    margin-bottom: 5%
}

.page2 .section .bg3072 {
    width: 100%;
    height: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-image: url(../img/page2/bg3072.png?1609091123);
    background-origin: content;
    background-position: 50% 50%;
    background-size: 60% auto;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    transition: all 1s
}

.page2 .section .bg3072 img {
    width: 60%
}

.page2 .section .name3072 {
    width: 100%;
    height: 7%;
    position: absolute;
    top: 60%;
    left: 0;
    z-index: 9;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s
}

.page2 .section .name3072 img {
    height: 100%
}

.page2 .section .sec3072 {
    width: 80%;
    height: 25%;
    margin: 0 10%;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 9
}

.page2 .section .sec3072 span {
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    background: url(../img/page2/num.png?1609091123) no-repeat;
    background-size: 100% 1000%;
    background-position: 0 115%;
    -webkit-transition: all 2s;
    transition: all 2s
}

.page2.swiper-slide-active .section .bg3072 {
    height: 70%;
    -webkit-transition-delay: 3s;
    transition-delay: 3s
}

.page2.swiper-slide-active .section .name3072 {
    opacity: 1;
    -webkit-transition-delay: 2s;
    transition-delay: 2s
}

.page2.swiper-slide-active .section .sec3072 span:nth-child(1) {
    background-position: 0 66.5%
}

.page2.swiper-slide-active .section .sec3072 span:nth-child(2) {
    background-position: 0 99.8%
}

.page2.swiper-slide-active .section .sec3072 span:nth-child(3) {
    background-position: 0 22%
}

.page2.swiper-slide-active .section .sec3072 span:nth-child(4) {
    background-position: 0 77.6%
}

.page3 {
    position: relative;
    background: -webkit-linear-gradient(top right,#0683e3,#095499);
    background: -webkit-linear-gradient(top right, #0683e3, #095499);
    background: linear-gradient(top right,#0683e3,#095499)
}

.page3 .title {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 6%;
    left: 0;
    z-index: 9
}

.page3 .title img {
    height: 100%
}

.page3 .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9
}

.page3 .footer p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3vh;
    font-family: '微软雅黑'
}

.page3 .footer p:nth-child(3) {
    font-size: 4vh;
    margin-bottom: 5%
}

.page3 .section {
    width: 320px;
    height: 568px;
    position: relative;
    overflow: hidden
}

.page3 .section .cloud {
    width: 100%;
    height: 26%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 3%;
    left: 0;
    z-index: 9;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    overflow: hidden
}

.page3 .section .cloud img {
    width: 50%;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s
}

.page3 .section .cloud_down {
    width: 100%;
    height: 26%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 3%;
    left: 0;
    opacity: 0;
    z-index: 8
}

.page3 .section .cloud_down img {
    height: 100%
}

.page3 .section .circle1 {
    width: 100%;
    height: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/page3/circle1.png?1609091123);
    background-origin: content;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    z-index: 8
}

.page3 .section .circle2 {
    width: 100%;
    height: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/page3/circle2.png?1609091123);
    background-origin: content;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 8
}

.page3 .section .circle3 {
    width: 100%;
    height: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/page3/circle3.png?1609091123);
    background-origin: content;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    z-index: 8
}

.page3 .section .line {
    width: 100%;
    height: 2px;
    position: absolute;
    margin: auto;
    top: 14%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-top: 1px solid #ff0
}

@-webkit-keyframes myfirst {
    0% {
        width: 0;
        top: 14%
    }

    70% {
        width: 80%;
        top: 14%
    }

    100% {
        top: 0
    }
}

@keyframes myfirst {
    0% {
        width: 0;
        top: 14%
    }

    70% {
        width: 80%;
        top: 14%
    }

    100% {
        top: 0
    }
}

.page3.swiper-slide-active .section .cloud {
    height: 14%;
    bottom: 15%;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.page3.swiper-slide-active .section .cloud img {
    opacity: 1
}

.page3.swiper-slide-active .section .cloud_down {
    opacity: 1;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.page3.swiper-slide-active .section .line {
    -webkit-animation: myfirst 2s linear;
    animation: myfirst 2s linear;
    width: 80%;
    top: 0
}

.page3.swiper-slide-active .section .circle1 {
    height: 50%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition-delay: 2.2s;
    transition-delay: 2.2s
}

.page3.swiper-slide-active .section .circle2 {
    height: 55%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition-delay: 2.1s;
    transition-delay: 2.1s
}

.page3.swiper-slide-active .section .circle3 {
    height: 60%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition-delay: 2s;
    transition-delay: 2s
}

.page4 {
    position: relative;
    background: -webkit-linear-gradient(top right,#0683e3,#095499);
    background: -webkit-linear-gradient(top right, #0683e3, #095499);
    background: linear-gradient(top right,#0683e3,#095499)
}

.page4 .title {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 6%;
    left: 0;
    z-index: 9
}

.page4 .title img {
    height: 100%
}

.page4 .section {
    width: 90%;
    height: 66%;
    top: 17%;
    left: 10%;
    position: absolute
}

.page4 .section .line {
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute
}

.page4 .section .line img {
    width: 100%
}

.page4 .section .list-box-top {
    width: 100%;
    height: 43%
}

.page4 .section .list-box-top .left {
    width: 44%;
    height: 100%;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    text-align: left;
    position: relative;
    opacity: 0;
    top: 30%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.page4 .section .list-box-top .left .left-sec {
    width: 100%;
    height: 80%;
    border-left: 1px solid #fff
}

.page4 .section .list-box-top .left .left-sec p {
    margin: 0;
    padding: 0;
    padding-left: 7%;
    padding-top: 4%;
    font-size: 1.5vh;
    line-height: 2vh
}

.page4 .section .list-box-top .left .left-time {
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 3.5vh;
    margin-left: -2px
}

.page4 .section .list-box-top .right {
    width: 56%;
    height: 100%;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    text-align: left;
    position: relative;
    opacity: 0;
    top: 30%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.page4 .section .list-box-top .right .right-sec {
    width: 100%;
    height: 80%;
    border-left: 1px solid #fff
}

.page4 .section .list-box-top .right .right-sec p {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 1.5vh;
    line-height: 2vh
}

.page4 .section .list-box-top .right .right-sec img {
    padding-top: 3%;
    height: 50%
}

.page4 .section .list-box-top .right .right-time {
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 3.5vh;
    margin-left: -2px
}

.page4 .section .list-box-bottom {
    width: 100%;
    height: 43%;
    position: absolute;
    bottom: 0
}

.page4 .section .list-box-bottom .list {
    width: 60%;
    height: 100%;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    text-align: left;
    margin-left: 17%;
    position: relative;
    opacity: 0;
    top: -30%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.page4 .section .list-box-bottom .list .list-time {
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 3.5vh;
    margin-left: -2px
}

.page4 .section .list-box-bottom .list .list-sec {
    width: 100%;
    height: 80%;
    border-left: 1px solid #fff
}

.page4 .section .list-box-bottom .list .list-sec p {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 1.5vh;
    line-height: 2vh
}

.page4 .section .list-box-bottom .list .list-sec img {
    padding-top: 3%;
    height: 50%
}

.page4.swiper-slide-active .section .list-box-top .left {
    top: 0;
    opacity: 1
}

.page4.swiper-slide-active .section .list-box-top .right {
    top: 0;
    opacity: 1;
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.page4.swiper-slide-active .section .list-box-bottom .list {
    top: 0;
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.page5 {
    position: relative;
    background: -webkit-linear-gradient(top right,#0683e3,#095499);
    background: -webkit-linear-gradient(top right, #0683e3, #095499);
    background: linear-gradient(top right,#0683e3,#095499)
}

.page5 .title {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 6%;
    left: 0;
    z-index: 9
}

.page5 .title img {
    height: 100%
}

.page5 .section {
    width: 100%;
    height: 66%;
    top: 17%;
    left: 0;
    position: absolute
}

.page5 .section .line {
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute
}

.page5 .section .line img {
    width: 100%
}

.page5 .section .list-box-top {
    width: 100%;
    height: 43%
}

.page5 .section .list-box-top .left {
    width: 38%;
    height: 100%;
    float: left
}

.page5 .section .list-box-top .right {
    width: 62%;
    height: 100%;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    text-align: left;
    position: relative;
    opacity: 0;
    top: 30%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.page5 .section .list-box-top .right .right-sec {
    width: 100%;
    height: 80%;
    border-left: 1px solid #fff
}

.page5 .section .list-box-top .right .right-sec p {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 1.5vh;
    line-height: 2vh
}

.page5 .section .list-box-top .right .right-sec img {
    padding-top: 3%;
    height: 50%
}

.page5 .section .list-box-top .right .right-time {
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 3.5vh;
    margin-left: -2px
}

.page5 .section .list-box-bottom {
    width: 100%;
    height: 43%;
    position: absolute;
    bottom: 0
}

.page5 .section .list-box-bottom .list {
    width: 60%;
    height: 100%;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    text-align: left;
    margin-left: 13%;
    position: relative;
    opacity: 0;
    top: -30%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.page5 .section .list-box-bottom .list .list-time {
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 3.5vh;
    margin-left: -2px
}

.page5 .section .list-box-bottom .list .list-sec {
    width: 100%;
    height: 80%;
    border-left: 1px solid #fff
}

.page5 .section .list-box-bottom .list .list-sec p {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 1.5vh;
    line-height: 2vh
}

.page5 .section .list-box-bottom .list .list-sec img {
    padding-top: 3%;
    height: 50%
}

.page5.swiper-slide-active .section .list-box-top .right {
    top: 0;
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.page5.swiper-slide-active .section .list-box-bottom .list {
    top: 0;
    opacity: 1
}

.page6 {
    position: relative;
    background: -webkit-linear-gradient(top right,#0683e3,#095499);
    background: -webkit-linear-gradient(top right, #0683e3, #095499);
    background: linear-gradient(top right,#0683e3,#095499)
}

.page6 .title {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 6%;
    left: 0;
    z-index: 9
}

.page6 .title img {
    height: 100%
}

.page6 .section {
    width: 100%;
    height: 66%;
    top: 17%;
    left: 0;
    position: absolute
}

.page6 .section .line {
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute
}

.page6 .section .line img {
    width: 100%
}

.page6 .section .list-box-top {
    width: 100%;
    height: 43%
}

.page6 .section .list-box-top .left {
    width: 38%;
    height: 100%;
    float: left
}

.page6 .section .list-box-top .right {
    width: 62%;
    height: 100%;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    text-align: left;
    position: relative;
    opacity: 0;
    top: 30%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.page6 .section .list-box-top .right .right-sec {
    width: 100%;
    height: 80%;
    border-left: 1px solid #fff
}

.page6 .section .list-box-top .right .right-sec p {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 1.5vh;
    line-height: 2vh
}

.page6 .section .list-box-top .right .right-sec img {
    padding-top: 3%;
    height: 50%
}

.page6 .section .list-box-top .right .right-time {
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 3.5vh;
    margin-left: -2px
}

.page6 .section .list-box-bottom {
    width: 100%;
    height: 43%;
    position: absolute;
    bottom: 0
}

.page6 .section .list-box-bottom .list {
    width: 60%;
    height: 100%;
    float: left;
    color: #fff;
    font-family: '微软雅黑';
    text-align: left;
    margin-left: 13%;
    position: relative;
    opacity: 0;
    top: -30%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.page6 .section .list-box-bottom .list .list-time {
    width: 100%;
    height: 20%;
    color: #fff;
    font-size: 3.5vh;
    margin-left: -2px
}

.page6 .section .list-box-bottom .list .list-sec {
    width: 100%;
    height: 80%;
    border-left: 1px solid #fff
}

.page6 .section .list-box-bottom .list .list-sec p {
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-top: 4%;
    font-size: 1.5vh;
    line-height: 2vh
}

.page6 .section .list-box-bottom .list .list-sec img {
    padding-top: 3%;
    height: 50%
}

.page6.swiper-slide-active .section .list-box-top .right {
    top: 0;
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.page6.swiper-slide-active .section .list-box-bottom .list {
    top: 0;
    opacity: 1
}

.page7,.page8 {
    position: relative;
    background: -webkit-linear-gradient(top right,#42c2b3,#007069);
    background: -webkit-linear-gradient(top right, #42c2b3, #007069);
    background: linear-gradient(top right,#42c2b3,#007069)
}

.page8 .title {
    width: 100%;
    position: absolute;
    top: 4.5%;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0
}

.page8 .footer {
    width: 100%;
    position: absolute;
    bottom: 4.5%;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0
}

.page8 .blue {
    width: 80px;
    position: absolute;
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0)
}

.page8 .blue img {
    width: 100%
}

.page8 .blue button {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 12px
}

.page8 .blue p {
    position: absolute;
    color: #fff;
    width: 100%;
    left: 0;
    bottom: -10px;
    font-size: 8px;
    margin: 0;
    text-align: center
}

.page8 .blue.blue1,.page8 .blue.blue2 {
    top: 50%;
    left: 50%
}

.page8 .blue.blue3 {
    top: 50%;
    right: 50%
}

.page8 .blue.blue4,.page8 .blue.blue5 {
    bottom: 50%;
    left: 50%
}

.page8 .blue.blue6 {
    bottom: 50%;
    right: 50%
}

.page8 .red {
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -46px;
    position: absolute;
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0)
}

.page8 .red img {
    width: 100%
}

.page8 .red button {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 18px
}

.page8 .green {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0)
}

.page8 .green img {
    width: 100%
}

.page8 .green.green1 {
    width: 40px;
    top: 50%;
    left: 50%
}

.page8 .green.green2,.page8 .green.green3 {
    width: 30px;
    top: 50%;
    left: 50%
}

.page8 .green.green4 {
    width: 40px;
    top: 50%;
    left: 50%
}

.page8 .green.green5,.page8 .green.green6 {
    width: 25px;
    top: 50%;
    left: 50%
}

.page8 .green.green7 {
    width: 40px;
    top: 50%;
    left: 50%
}

.page8 .green.green8,.page8 .green.green9 {
    width: 25px;
    top: 50%;
    left: 50%
}

.page8.swiper-slide-active .red {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1)
}

@-webkit-keyframes animatebluemargin {
    0% {
        margin-top: -6px
    }

    50% {
        margin-top: 6px
    }

    100% {
        margin-top: -6px
    }
}

@keyframes animatebluemargin {
    0% {
        margin-top: -6px
    }

    50% {
        margin-top: 6px
    }

    100% {
        margin-top: -6px
    }
}

@-webkit-keyframes animatebluemargin2 {
    0% {
        margin-bottom: -6px
    }

    50% {
        margin-bottom: 6px
    }

    100% {
        margin-bottom: -6px
    }
}

@keyframes animatebluemargin2 {
    0% {
        margin-bottom: -6px
    }

    50% {
        margin-bottom: 6px
    }

    100% {
        margin-bottom: -6px
    }
}

.page8.swiper-slide-active .blue.blue1 {
    top: 15%;
    left: 50%;
    margin-left: -40px;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-animation: animatebluemargin 2.4s infinite linear;
    animation: animatebluemargin 2.4s infinite linear
}

.page8.swiper-slide-active .blue.blue2 {
    top: 27%;
    left: 10%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-animation: animatebluemargin 2s infinite linear;
    animation: animatebluemargin 2s infinite linear
}

.page8.swiper-slide-active .blue.blue3 {
    top: 27%;
    right: 10%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    -webkit-animation: animatebluemargin 2.6s infinite linear;
    animation: animatebluemargin 2.6s infinite linear
}

.page8.swiper-slide-active .blue.blue4 {
    bottom: 15%;
    left: 50%;
    margin-left: -40px;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
    -webkit-animation: animatebluemargin2 3s infinite linear;
    animation: animatebluemargin2 3s infinite linear
}

.page8.swiper-slide-active .blue.blue5 {
    bottom: 27%;
    left: 10%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
    -webkit-animation: animatebluemargin2 2.7s infinite linear;
    animation: animatebluemargin2 2.7s infinite linear
}

.page8.swiper-slide-active .blue.blue6 {
    bottom: 27%;
    right: 10%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
    -webkit-animation: animatebluemargin2 2.5s infinite linear;
    animation: animatebluemargin2 2.5s infinite linear
}

.page8.swiper-slide-active .green.green1 {
    top: 16%;
    left: 15%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.page8.swiper-slide-active .green.green2 {
    top: 18%;
    left: 78%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s
}

.page8.swiper-slide-active .green.green3 {
    top: 34%;
    left: 42%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s
}

.page8.swiper-slide-active .green.green4 {
    top: 46%;
    left: 12%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.page8.swiper-slide-active .green.green5 {
    top: 54%;
    left: 31%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s
}

.page8.swiper-slide-active .green.green6 {
    top: 62%;
    left: 52%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s
}

.page8.swiper-slide-active .green.green7 {
    top: 48%;
    left: 70%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s
}

.page8.swiper-slide-active .green.green8 {
    top: 80%;
    left: 26%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s
}

.page8.swiper-slide-active .green.green9 {
    top: 78%;
    left: 71%;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s
}

.page9 {
    position: relative;
    background: -webkit-linear-gradient(top right,#42c2b3,#007069);
    background: -webkit-linear-gradient(top right, #42c2b3, #007069);
    background: linear-gradient(top right,#42c2b3,#007069)
}

.page9 .title {
    width: 100%;
    position: absolute;
    top: 4.5%;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0
}

.page9 .footer {
    width: 100%;
    position: absolute;
    bottom: 4.5%;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0
}

.page9 .title2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0;
    opacity: 0
}

.page9 .footer2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0;
    opacity: 0
}

.page9 .server {
    position: relative;
    left: -100%;
    width: 100%;
    height: 20%;
    z-index: 5
}

.page9 .server img {
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0
}

.page9 .server img.sun-img-1,.page9 .server img.sun-img-2,.page9 .server img.sun-img-3,.page9 .server img.sun-img-4,.page9 .server img.sun-img-5,.page9 .server img.sun-img-6 {
    opacity: 0
}

.page9 .circle1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2
}

.page9 .circle1 img {
    width: 0
}

.page9 .circle2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0
}

.page9 .circle2 img {
    width: 0
}

.page9 .circle3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1
}

.circle3-box {
    position: relative
}

.page9 .circle3 .circle3-img {
    width: 0
}

.page9 .circle3 .circle3-left,.page9 .circle3 .circle3-top {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0)
}

.page9 .circle3 .circle3-bottom {
    width: 22%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0)
}

.page9 .circle3 .circle3-300,.page9 .circle3 .circle3-right {
    width: 25%;
    position: absolute;
    right: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0)
}

.page9 .ico1 {
    position: absolute;
    width: 24%;
    top: 36%;
    left: 57%;
    opacity: 0;
    z-index: 9
}

.page9 .ico2 {
    position: absolute;
    width: 22%;
    top: 63%;
    left: 40%;
    opacity: 0;
    z-index: 9
}

.page9 .ico3 {
    position: absolute;
    width: 15%;
    top: 59%;
    left: 78%;
    opacity: 0;
    z-index: 9
}

.page9 .ico4 {
    position: absolute;
    width: 12%;
    top: 20%;
    left: 74%;
    opacity: 0;
    z-index: 9
}

.page9 .ico5 {
    position: absolute;
    width: 30%;
    top: 40%;
    left: 11%;
    opacity: 0;
    z-index: 0
}

@-webkit-keyframes animatepage9server {
    0%,80% {
        height: 50%
    }

    100% {
        height: 20%
    }
}

@keyframes animatepage9server {
    0%,80% {
        height: 50%
    }

    100% {
        height: 20%
    }
}

.page9.swiper-slide-active .server {
    left: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-animation: animatepage9server 4s linear;
    animation: animatepage9server 4s linear;
    height: 20%
}

@-webkit-keyframes animatepage9ico1 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 57%;
        opacity: 1
    }

    80% {
        left: 60%;
        opacity: 1
    }

    100% {
        left: 57%;
        opacity: 0
    }
}

@keyframes animatepage9ico1 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 57%;
        opacity: 1
    }

    80% {
        left: 60%;
        opacity: 1
    }

    100% {
        left: 57%;
        opacity: 0
    }
}

@-webkit-keyframes animatepage9ico2 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 40%;
        opacity: 1
    }

    80% {
        left: 44%;
        opacity: 1
    }

    100% {
        left: 40%;
        opacity: 0
    }
}

@keyframes animatepage9ico2 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 40%;
        opacity: 1
    }

    80% {
        left: 44%;
        opacity: 1
    }

    100% {
        left: 40%;
        opacity: 0
    }
}

@-webkit-keyframes animatepage9ico3 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 78%;
        opacity: 1
    }

    80% {
        left: 81%;
        opacity: 1
    }

    100% {
        left: 78%;
        opacity: 0
    }
}

@keyframes animatepage9ico3 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 78%;
        opacity: 1
    }

    80% {
        left: 81%;
        opacity: 1
    }

    100% {
        left: 78%;
        opacity: 0
    }
}

@-webkit-keyframes animatepage9ico4 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 74%;
        opacity: 1
    }

    80% {
        left: 77%;
        opacity: 1
    }

    100% {
        left: 74%;
        opacity: 0
    }
}

@keyframes animatepage9ico4 {
    0%,20%,40% {
        opacity: 0
    }

    60% {
        left: 74%;
        opacity: 1
    }

    80% {
        left: 77%;
        opacity: 1
    }

    100% {
        left: 74%;
        opacity: 0
    }
}

.page9.swiper-slide-active .ico1 {
    -webkit-animation: animatepage9ico1 3s linear;
    animation: animatepage9ico1 3s linear
}

.page9.swiper-slide-active .ico2 {
    -webkit-animation: animatepage9ico2 3.2s linear;
    animation: animatepage9ico2 3.2s linear
}

.page9.swiper-slide-active .ico3 {
    -webkit-animation: animatepage9ico3 3.4s linear;
    animation: animatepage9ico3 3.4s linear
}

.page9.swiper-slide-active .ico4 {
    -webkit-animation: animatepage9ico4 3.2s linear;
    animation: animatepage9ico4 3.2s linear
}

@-webkit-keyframes animatepage9cloud {
    0% {
        left: 20%;
        z-index: -1;
        opacity: 0
    }

    5% {
        z-index: -1
    }

    25% {
        left: -11%;
        z-index: 0
    }

    30% {
        opacity: 1;
        z-index: 6
    }

    50% {
        left: 11%;
        z-index: 6;
        opacity: 1
    }

    70% {
        left: -11%;
        z-index: 6;
        opacity: 1
    }

    95% {
        left: 11%;
        z-index: 0;
        opacity: 0
    }

    100% {
        z-index: -1
    }
}

@keyframes animatepage9cloud {
    0% {
        left: 20%;
        z-index: -1;
        opacity: 0
    }

    5% {
        z-index: -1
    }

    25% {
        left: -11%;
        z-index: 0
    }

    30% {
        opacity: 1;
        z-index: 6
    }

    50% {
        left: 11%;
        z-index: 6;
        opacity: 1
    }

    70% {
        left: -11%;
        z-index: 6;
        opacity: 1
    }

    95% {
        left: 11%;
        z-index: 0;
        opacity: 0
    }

    100% {
        z-index: -1
    }
}

.page9.swiper-slide-active .ico5 {
    -webkit-animation: animatepage9cloud 3s linear;
    animation: animatepage9cloud 3s linear;
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
    z-index: -1;
    opacity: 0
}

.page9.swiper-slide-active .footer,.page9.swiper-slide-active .title {
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 3s;
    transition-delay: 3s
}

.page9.swiper-slide-active .title2 {
    opacity: 1;
    top: 4.5%;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 4s;
    transition-delay: 4s
}

.page9.swiper-slide-active .footer2 {
    opacity: 1;
    bottom: 4.5%;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 4s;
    transition-delay: 4s
}

@-webkit-keyframes animatepage9circle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes animatepage9circle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes animatepage9rotate {
    0% {
        -webkit-transform: rotate(170deg);
        transform: rotate(170deg)
    }

    100% {
        -webkit-transform: rotate(-190deg);
        transform: rotate(-190deg)
    }
}

@keyframes animatepage9rotate {
    0% {
        -webkit-transform: rotate(170deg);
        transform: rotate(170deg)
    }

    100% {
        -webkit-transform: rotate(-190deg);
        transform: rotate(-190deg)
    }
}

.page9.swiper-slide-active .circle1 img {
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 40%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: 4s;
    transition-delay: 4s
}

.page9.swiper-slide-active .circle2 img {
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 60%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: 4.5s;
    transition-delay: 4.5s;
    -webkit-animation: animatepage9circle 10s infinite linear;
    animation: animatepage9circle 10s infinite linear
}

.page9.swiper-slide-active .circle3 .circle3-img {
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 90%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: 5s;
    transition-delay: 5s
}

.page9.swiper-slide-active .circle3 .circle3-box {
    -webkit-animation: animatepage9circle 12s infinite linear;
    animation: animatepage9circle 12s infinite linear;
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s
}

.page9.swiper-slide-active .circle3 .circle3-top {
    -webkit-transition: all .5s;
    transition: all .5s;
    top: 0;
    left: 35%;
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
    -webkit-animation: animatepage9rotate 12s infinite linear;
    animation: animatepage9rotate 12s infinite linear
}

.page9.swiper-slide-active .circle3 .circle3-left {
    -webkit-transition: all .5s;
    transition: all .5s;
    top: 30%;
    left: 0;
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
    -webkit-animation: animatepage9rotate 12s infinite linear;
    animation: animatepage9rotate 12s infinite linear
}

.page9.swiper-slide-active .circle3 .circle3-bottom {
    -webkit-transition: all .5s;
    transition: all .5s;
    bottom: 5%;
    left: 16%;
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
    -webkit-animation: animatepage9rotate 12s infinite linear;
    animation: animatepage9rotate 12s infinite linear
}

.page9.swiper-slide-active .circle3 .circle3-right {
    -webkit-transition: all .5s;
    transition: all .5s;
    right: 0;
    top: 27%;
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
    -webkit-animation: animatepage9rotate 12s infinite linear;
    animation: animatepage9rotate 12s infinite linear
}

.page9.swiper-slide-active .circle3 .circle3-300 {
    -webkit-transition: all .5s;
    transition: all .5s;
    right: 7%;
    top: 68%;
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
    -webkit-animation: animatepage9rotate 12s infinite linear;
    animation: animatepage9rotate 12s infinite linear
}

@-webkit-keyframes animatepage9sun1 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes animatepage9sun1 {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.page9.swiper-slide-active .server img.sun-img-1 {
    -webkit-animation: animatepage9sun1 .4s infinite;
    animation: animatepage9sun1 .4s infinite;
    -webkit-animation-delay: 5.6s;
    animation-delay: 5.6s
}

.page9.swiper-slide-active .server img.sun-img-2 {
    -webkit-animation: animatepage9sun1 .9s infinite;
    animation: animatepage9sun1 .9s infinite;
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s
}

.page9.swiper-slide-active .server img.sun-img-3 {
    -webkit-animation: animatepage9sun1 .7s infinite;
    animation: animatepage9sun1 .7s infinite;
    -webkit-animation-delay: 5.7s;
    animation-delay: 5.7s
}

.page9.swiper-slide-active .server img.sun-img-4 {
    -webkit-animation: animatepage9sun1 .5s infinite;
    animation: animatepage9sun1 .5s infinite;
    -webkit-animation-delay: 5.8s;
    animation-delay: 5.8s
}

.page9.swiper-slide-active .server img.sun-img-5 {
    -webkit-animation: animatepage9sun1 .8s infinite;
    animation: animatepage9sun1 .8s infinite;
    -webkit-animation-delay: 5.6s;
    animation-delay: 5.6s
}

.page9.swiper-slide-active .server img.sun-img-6 {
    -webkit-animation: animatepage9sun1 .6s infinite;
    animation: animatepage9sun1 .6s infinite;
    -webkit-animation-delay: 5.8s;
    animation-delay: 5.8s
}

.page10 {
    position: relative;
    background: -webkit-linear-gradient(top right,#86c020,#558909);
    background: -webkit-linear-gradient(top right, #86c020, #558909);
    background: linear-gradient(top right,#86c020,#558909)
}

.page10 .title {
    width: 100%;
    position: absolute;
    top: 37%;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0
}

.page10 .footer {
    width: 80%;
    bottom: 37%;
    padding: 4.5% 10%;
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 10px;
    font-family: '微软雅黑';
    text-align: left;
    z-index: 9;
    margin: 0
}

.page10 .section {
    width: 100%;
    height: 70%;
    margin-top: -10%
}

.page10 .section .sec-box {
    height: 17%;
    background: url(../img/page10/bgcenter.png) no-repeat;
    background-size: auto 100%;
    margin-top: 2%;
    box-sizing: border-box;
    position: relative
}

.page10 .section .sec-box.icon1 {
    background-position: 300% center
}

.page10 .section .sec-box.icon2 {
    background-position: -200% center
}

.page10 .section .sec-box.icon3 {
    background-position: 300% center
}

.page10 .section .sec-box.icon4 {
    background-position: -200% center
}

.page10 .section .sec-box.icon5 {
    background-position: 300% center
}

.page10 .section .sec-box i {
    background: url(../img/page10/icons.png) no-repeat center;
    background-size: auto 500%;
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;
    left: 0;
    opacity: 0
}

.page10 .section .sec-box.icon1 i {
    background-position: center 0;
    left: -27%
}

.page10 .section .sec-box.icon2 i {
    background-position: center 25%;
    left: 27%
}

.page10 .section .sec-box.icon3 i {
    background-position: center 50%;
    left: -27%
}

.page10 .section .sec-box.icon4 i {
    background-position: center 75%;
    left: 27%
}

.page10 .section .sec-box.icon5 i {
    background-position: center 100%;
    left: -27%
}

.page10 .section .sec-box div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.page10 .section .sec-box div h1 {
    color: #5E831A;
    font-size: 10px;
    margin: 3px
}

.page10 .section .sec-box div p {
    margin: 0;
    color: #fff;
    font-size: 6px
}

.page10.swiper-slide-active .title {
    top: 4.5%;
    -webkit-transition: all .5s;
    transition: all .5s
}

.page10.swiper-slide-active .footer {
    bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s
}

.page10.swiper-slide-active .section .sec-box.icon1 {
    background-position: center center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.page10.swiper-slide-active .section .sec-box.icon2 {
    background-position: center center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.page10.swiper-slide-active .section .sec-box.icon3 {
    background-position: center center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.page10.swiper-slide-active .section .sec-box.icon4 {
    background-position: center center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.page10.swiper-slide-active .section .sec-box.icon5 {
    background-position: center center;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.page10.swiper-slide-active .section .sec-box.icon1 i {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.page10.swiper-slide-active .section .sec-box.icon2 i {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.page10.swiper-slide-active .section .sec-box.icon3 i {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.page10.swiper-slide-active .section .sec-box.icon4 i {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.page10.swiper-slide-active .section .sec-box.icon5 i {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s
}

.page10.swiper-slide-active .section .sec-box.icon1 div {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.page10.swiper-slide-active .section .sec-box.icon2 div {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.page10.swiper-slide-active .section .sec-box.icon3 div {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.page10.swiper-slide-active .section .sec-box.icon4 div {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.page10.swiper-slide-active .section .sec-box.icon5 div {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s
}

.page11 {
    position: relative;
    background: -webkit-linear-gradient(top right,#86c020,#558909);
    background: -webkit-linear-gradient(top right, #86c020, #558909);
    background: linear-gradient(top right,#86c020,#558909)
}

.page11 .title {
    width: 100%;
    position: absolute;
    top: 4.5%;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0
}

.page11 .section {
    width: 100%;
    height: 85%;
    position: absolute;
    left: 0;
    bottom: 3%
}

.page11 .section button {
    width: 100%;
    height: 33.3333%;
    left: -100%;
    position: relative
}

.page11 .section button img:nth-child(1) {
    height: 84%;
    z-index: 9;
    margin-left: 25%;
    position: relative
}

.page11 .section button img:nth-child(2) {
    position: absolute;
    margin: auto;
    height: 70%;
    top: 15%;
    left: 0;
    right: -10%;
    z-index: 0
}

.page11.swiper-slide-active .section button.img1 {
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s
}

.page11.swiper-slide-active .section button.img2 {
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.page11.swiper-slide-active .section button.img3 {
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 2s;
    transition-delay: 2s
}

.page11.swiper-slide-active .section button.img1 img:nth-child(2) {
    right: 36%;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.page11.swiper-slide-active .section button.img2 img:nth-child(2) {
    right: 36%;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s
}

.page11.swiper-slide-active .section button.img3 img:nth-child(2) {
    right: 36%;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 2.5s;
    transition-delay: 2.5s
}

.page12 {
    position: relative;
    background: -webkit-linear-gradient(top right,#86c020,#558909);
    background: -webkit-linear-gradient(top right, #86c020, #558909);
    background: linear-gradient(top right,#86c020,#558909)
}

.page12 .title {
    width: 100%;
    position: absolute;
    top: 4.5%;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-family: '微软雅黑';
    z-index: 9;
    margin: 0
}

.page12 .footer {
    width: 80%;
    bottom: 0;
    padding: 4.5% 10%;
    position: absolute;
    left: 0;
    color: #fff;
    font-size: 10px;
    font-family: '微软雅黑';
    text-align: left;
    z-index: 9;
    margin: 0
}

.page12 .section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.page12 .section .desk {
    position: absolute;
    width: 90%;
    left: 6%;
    top: 50%;
    z-index: 1
}

.page12 .section .more {
    position: absolute;
    width: 24%;
    left: 6%;
    top: 34%;
    z-index: 4
}

.page12 .section .people {
    position: absolute;
    width: 60%;
    margin: auto;
    left: 0;
    right: 0;
    top: 22%;
    z-index: 0
}

.page12 .section .book {
    position: absolute;
    margin: auto;
    width: 0;
    left: 0;
    right: 0;
    top: 39%;
    height: 20%;
    z-index: 3
}

.page12 .section .light {
    position: absolute;
    width: 15%;
    right: 10%;
    top: 20%;
    z-index: 3;
    opacity: 0
}

.page12.swiper-slide-active .section .book {
    width: 75%;
    height: 20%;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.page12.swiper-slide-active .section .light {
    opacity: 1;
    -webkit-transition: all .1s;
    transition: all .1s;
    -webkit-transition-delay: 2s;
    transition-delay: 2s
}